mj-section(padding="30px" background-color="#ffffff")
    mj-column
        mj-text(padding="0" mj-class="T16 fw0" color="#212121") Les vacances de Noël approche #[span(style="font-size:24px;line-height:24px;") &#127877;]… et c’est le moment parfait pour partager un instant magique avec ton compagnon&nbsp;! #[span(style="font-size:24px;line-height:24px;") &#10024;]
        mj-text(padding="0" padding-top="15px" mj-class="T16 fw0" color="#212121") Que ce soit entre deux repas de fête ou après une balade hivernale, profite des vacances pour habiller ton animal d’un accessoire festif, ajouter une touche d’humour et capturer la photo la plus joyeuse de l’année.
        mj-text(padding="0" padding-top="15px" mj-class="T16 fw0" color="#212121") #[span(style="font-size:24px;line-height:24px;") &#128073;] #[span(style="font-weight:700;") Pour participer], envoie une seule photo par mail à #[a(style="font-weight:700;color:#B50000" href="mailto:concours.noel2025@supveto.com") concours.noel2025@supveto.com], en précisant ton #[span(style="font-weight:700") nom], ton #[span(style="font-weight:700") prénom] et ton #[span(style="font-weight:700") école Sup-Véto].
        mj-text(padding="0" padding-top="15px" mj-class="T16 fw0" color="#212121") Tu peux être sur la photo ou laisser ton compagnon briller seul&nbsp;: l’essentiel est de montrer votre complicité et de diffuser de la bonne humeur. #[span(style="font-size:24px;line-height:24px;") &#128054;&#128049;] 
        mj-text(padding="0" padding-top="15px" mj-class="T16 fw0" color="#212121") Alors, même pendant les vacances, fais de ton animal le roi ou la reine de Noël et tente de gagner des cartes cadeaux&nbsp;! #[span(style="font-size:24px;line-height:24px;") &#127876;&#128062;]
        mj-text(padding="0" padding-top="15px" mj-class="T16 fw0" color="#212121") À toi de jouer, et joyeuses fêtes&nbsp;!
        mj-text(padding="0" padding-top="15px" mj-class="T16 fw0" color="#212121") L’équipe Sup-Véto #[span(style="font-size:24px;line-height:24px;") &#127876;]


//-Bonjour {{contact.PRENOM}},
