mj-section(padding="0" background-color="#ffffff")
    mj-column(width="100%")
        mj-image(padding="0" align="center" width="600px" src="https://i.ibb.co/8gbPgK88/bas-Image12025.png" alt="Lapin, perroquet, cheval et serpent avec un chapeau de noël dans un cadre instagram")/
mj-section(padding="20px" padding-bottom="40px" mj-class="bgGreen")
    mj-column
        mj-image(padding="0" align="center" width="200px" src="https://i.ibb.co/HT2C6zYJ/logo-Supveto.png" alt="logotype de Supveto")/
mj-section(padding="20px")
    mj-column(width="420px")
        mj-text(padding="0" align="center" mj-class="T12 cTW3") Cet e-mail a été envoyé à #[a(style="color:#666666;text-decoration:none;" href="mailto:{{ contact.EMAIL }}") {{ contact.EMAIL }}]. Vous recevez cette information car vous vous êtes inscrit sur Sup-Véto. Pour être sûr(e) de recevoir tous nos emails, nous vous conseillons d'ajouter #[a(style="color:#666666;text-decoration:none;" href="mailto:contact@supveto.fr") contact@supveto.fr] à votre carnet d'adresses.
        mj-text(padding="0" align="center" mj-class="T12 cTW3") #[a(style="color:#666666" href="{{ unsubscribe }}") Cliquez&nbsp;ici] pour vous désabonner
        mj-text(padding="20px 0" align="center" mj-class="T12 cTW3") © 2025 Sup-Véto