mj-section(padding="0")
    mj-column(width="100%")
        mj-image(padding="0" align="center" width="600px" src="https://i.ibb.co/mrYX8Hdt/haut-Image12025.png" alt="chat et chien jouent dans la neige sur un fond rouge de noël")
mj-section(padding="0 20px" background-color="#ffffff")
    mj-column(width="100%" padding-bottom="5px")
        mj-text(padding="0" align="center" mj-class="T22 fw2 cRed" line-height="22px") Jeu Concours 2025
    mj-column(width="100%")
        mj-image(padding="0" width="500px" src="https://i.ibb.co/DD996zr6/photo-Noel.png" alt="Photo de Noël")
    mj-column(width="100%" padding-top="5px")
        mj-text(padding="0" align="center" mj-class="T18 fw2 cGreen") À envoyer avant le 4&nbsp;janvier&nbsp;2026
        mj-text(padding="0" align="center" mj-class="T18 fw1 cGreen") Cartes cadeaux à gagner !!!