extends templates/_layout
block content 
    mj-section(padding="0 20px")
        mj-column
            mj-text(align="center" mj-class="T12 cTW3") Pour consulter la version en ligne, #[a(style="color:#666666;" href="{{mirror}}") cliquez&nbsp;ici]